@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Original+Surfer&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: popins, 'sans-serif';
}

::-webkit-scrollbar {
    display: none;
}

::selection {
    background: #060771;
    color: #fff;
}

body {
    background-color: #ffffff;
}

main {
    margin-top: 130px;
}

.bg-alternate {
    display: inline-block;
    color: #8F0177;
    background: linear-gradient(180deg, #f1e9ffe0, #faf7ff);
    padding: 10px;
    border-radius: 5px;
    font-family: 'Josefin Sans', 'sans-serif';
    transform: rotate(-1.5deg);
}

.main-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.side-headings-main {
    margin-left: 80px;
    display: flex;
    flex-direction: column;
}

.main-container .side-headings-main h1 {
    font-family: "Josefin Sans", sans-serif;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2), 1px 2px 1px rgba(0, 0, 0, 0.2);
    color: #03045E;
    font-weight: 700;
    font-size: 3.5rem;
    text-align: left;
}

.side-headings-main p {
    margin-top: 10px;
    color: #023e8a;
    font-weight: 600;
    width: 70%;
}

.main-container .side-img img {
    width: 700px;
}

.side-headings-main a {
    text-decoration: none;
    margin-top: 20px;
    font-size: 1.3rem;
    width: 55%;
    background-color: #301CA0;
    color: #fff;
    padding: 15px;
    text-align: center;
    border: none;
    outline: none;
    font-family: popins, 'sans-serif';
    border-radius: 10px;
    transition: all 0.6s ease;
}

.side-headings-main a:hover {
    transform: scale(1.04);
}

/* Moving dot logic */

.cover-dot {
    width: 100%;
    position: relative;
    height: 30px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.dot {
    height: 20px;
    width: 20px;
    background: hotpink;
    border-radius: 50%;
    animation: move-right 40s infinite ease alternate;
    will-change: transform;
}

.mrgbt {
    margin-bottom: 60px;
    height: 20px;
    width: 20px;
    background: hotpink;
    border-radius: 50%;
    animation: move-left 40s infinite ease alternate;
    will-change: transform;
}

@keyframes move-right {
    from {
        /* Start at 5% of the parent width */
        transform: translateX(5vw);
    }

    to {
        /* End at 40% of the parent width */
        transform: translateX(40vw);
        background-color: aqua;
    }
}

@keyframes move-left {
    from {
        /* Start at 5% of the parent width */
        transform: translateX(80vw);
    }

    to {
        /* End at 40% of the parent width */
        transform: translateX(35vw);
        background-color: aqua;
    }
}

.transform-icn lord-icon {
    padding-top: 22px;
    padding-left: 5px;
}

/* border-top: 1px solid #742ad7;
border-bottom: 1px solid #742ad7;
background: linear-gradient(180deg, #f1e9ffe0, #faf7ff); */

section .section-container {
    margin-top: 50px;
    width: 100%;
}

section .section-container .items {
    padding: 25px;
    width: 100%;
    background: linear-gradient(180deg, #f1e9ffe0, #faf7ff);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.section-container .item-carts {

    background-color: #FFFFF0;
    width: 300px;
    padding: 25px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: all 0.4s ease;
    text-align: center;
}

.item-carts:hover {
    box-shadow: 38px 45px 93px -10px rgba(0, 0, 0, 0.1);
}

.item-carts h5 {
    font-size: 1.2rem;
    font-family: 'Josefin Sans', sans-serif;
    color: #060771;
    font-weight: 700;
}

.suggestion-container {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    background: linear-gradient(180deg, #f1e9ffe0, #faf7ff);
    padding: 25px;
    width: 40%;
    border-radius: 10px;
    box-shadow: 38px 45px 93px -10px rgba(0, 0, 0, 0.1);
}

form h1 {
    font-size: 2.2rem;
    color: #060771;
}

form input {

    border: none;
    outline: none;
    padding: 8px;
    width: 90%;
    font-size: 1.2rem;
    border-radius: 5px;

}

form textarea {
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 2px;
}

.sugestion-illustraion img {
    width: 410px;
}

form button {
    padding: 10px;
    width: 70%;
    text-align: center;
    background-color: #8F0177;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    outline: none;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.4s ease;
}

form button:hover {
    transform: scale(1.09);
}


form hr {
    width: 50%;
    height: 2.4px;
    border-radius: 30%;
    background: #8F0177;
    outline: none;
    border: none;
    margin-top: -20px;
    margin-bottom: 20px;
}


@media screen and (max-width:1024px) {


    main {
        width: 100%;
    }

    .main-container {
        flex-direction: column;
        width: 100%;
    }

    .main-container .side-headings-main {
        align-items: center;
        text-align: center;
        padding: 20px;
        margin: 0;

    }

    .main-container .side-headings-main h1 {
        font-size: 2rem;
        text-align: center;
    }

    section .section-container {
        margin-top: 50px;
        width: 100%;
    }

    section .section-container .items {
        flex-direction: column;
    }

    section .section-container .items .item-carts {
        margin: 20px;
        width: 80%;
    }

    .suggestion-container {
        width: 100%;
        flex-direction: column;
    }

    .suggestion-container form {
        width: 90%;
    }

    form textarea {
        width: 90%;
    }

}

@media screen and (max-width: 400px) {
    .main-container .side-img img {
        width: 100%;
    }

    main .main-container {
        margin-top: -50px;
    }

    }