/* ================= THEME ================= */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  /* Brand */
  --primary: #060771;
  --secondary: #8F0177;

  /* Backgrounds */
  --bg-main: #FFFFF0;
  --bg-soft: #f7f7fb;
  --card-bg: #ffffff;

  /* Text */
  --text-main: #2d2d2d;
  --text-muted: #666;

  /* UI */
  --border: #e6e6e6;
  --radius: 14px;
  --shadow-soft: 0 10px 30px rgba(0, 0, 0, 0.05);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--bg-main);
  color: var(--text-main);
}
